@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
  font-family: 'Source Sans Pro', sans-serif;
}

.hide {
  display: none;
}
    
.fav:hover + .hide {
  display: block;
}
.later:hover + .hide {
  display: block !important;
}