@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
  font-family: 'Source Sans Pro', sans-serif;
}

.hide {
  display: none;
}
    
.a2f{
    visibility: hidden;
    width: 130px;
    background-color: white;
    color: rgba(217, 119, 6);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    /* top: -5px; */
    right: 30px;
}

.ha2f:hover .a2f{
  visibility: visible;
}

